<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.URLDao">


    <select id="queryLongURL" parameterType="int" resultType="String">
      select url from url_project where id = #{id}
    </select>

    <insert id="insertLongURL" useGeneratedKeys="true" keyProperty="id"
        parameterType="com.spring.pojo.URLDO">
    insert into url_project (url, gmt_create, idx_hash)
      value (#{initialURL}, now() , #{idxHash})
    </insert>

</mapper>
